<div id="<%= dom_id dream_destination %>">
  <p>
    <strong>Location:</strong>
    <%= dream_destination.location %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= dream_destination.reason %>
  </p>

  <p>
    <strong>Goal:</strong>
    <%= dream_destination.goal %>
  </p>

</div>
